/*Google font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url(skins/animation.css);
body {
  margin: 0;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none !important; }

.mybtn1 {
  background-color: white;
  font-size: 16px;
  text-transform: uppercase;
  color: #d70d25;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  font-weight: 600;
  overflow: hidden;
  z-index: 1;
  position: relative; }
  .mybtn1:hover {
    color: #d70d25; }
    .mybtn1:hover:before {
      width: 100%; }
  .mybtn1:focus {
    box-shadow: none; }
  .mybtn1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all 0.3s ease-in; }

.section-title .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding: 0 10px;
  z-index: 1;
  color: #d70d25; }
  .section-title .title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #d70d25;
    z-index: -1;
    border-radius: 5px;
    opacity: 0.1; }
.section-title .subtitle {
  font-size: 30px;
  line-height: 38px;
  color: #222;
  font-weight: 700;
  margin: 0; }

.header {
  background-color: #d70d25;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  .header .navbar {
    padding: 0; }
    .header .navbar .navbar-brand {
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: uppercase;
      color: white; }
      .header .navbar .navbar-brand .icon-gear {
        height: 1.2rem;
        width: 1.2rem;
        border: 3px solid white;
        display: inline-block;
        border-radius: 50%;
        position: relative; }
        .header .navbar .navbar-brand .icon-gear:before {
          content: '';
          height: 0.3rem;
          width: 0.3rem;
          background-color: white;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 50%;
          margin-left: -2px;
          margin-top: -2px; }
    .header .navbar #collapsibleNavbar .nav-item .nav-link {
      color: white;
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 400;
      padding: 20px 15px 20px;
      line-height: 26px;
      opacity: 0.6; }
    .header .navbar #collapsibleNavbar .nav-item .active {
      opacity: 1; }

.home-section {
  background-color: #d70d25;
  padding: 250px 0 200px;
  z-index: 1;
  position: relative;
  overflow: hidden; }
  .home-section:before {
    content: '';
    position: absolute;
    height: 112px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/shape-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1; }
  .home-section .bg-shapes div {
    position: absolute;
    opacity: .2; }
    .home-section .bg-shapes div:nth-child(1) {
      height: 100px;
      width: 100px;
      top: 20%;
      left: 20%;
      background-color: white;
      border-radius: 50%;
      animation: shape01 5s linear infinite; }
    .home-section .bg-shapes div:nth-child(2) {
      height: 80px;
      width: 80px;
      top: 60%;
      left: 60%;
      background-color: transparent;
      border-radius: 50%;
      border: 5px solid white;
      border-bottom: 5px solid transparent;
      animation: shape02 7s linear infinite; }
    .home-section .bg-shapes div:nth-child(3) {
      height: 60px;
      width: 60px;
      top: 10%;
      left: 90%;
      background-color: transparent;
      border-radius: 50%;
      border: 5px solid white;
      border-left: 5px solid transparent;
      border-bottom: 5px solid transparent;
      animation: shape02 5s linear infinite; }
    .home-section .bg-shapes div:nth-child(4) {
      height: 200px;
      width: 200px;
      top: 50%;
      left: calc(100% - 100px);
      border-radius: 50%;
      background-color: white;
      animation: shape03 10s linear infinite; }
    .home-section .bg-shapes div:nth-child(5) {
      height: 180px;
      width: 180px;
      top: 30%;
      left: calc(0% - 100px);
      background-color: transparent;
      border: 5px solid white;
      animation: shape02 10s linear infinite; }
  .home-section .home-content h1 {
    font-size: 55px;
    color: white;
    font-weight: 700;
    line-height: 60px; }
  .home-section .home-content p {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 28px;
    text-align: justify; }
  .home-section .home-img img {
    max-width: 400px;
    width: 100%;
    position: absolute;
    left: 140px;
    top: -50px;
    animation: product01 5s linear infinite; }

.about-section {
  background-color: #fff;
  padding: 80px 0 80px; }
  .about-section .about-img {
    margin: auto; }
    .about-section .about-img img {
      max-width: 350px;
      width: 100%; }
  .about-section .section-title {
    text-align: justify;
    margin-bottom: 30px; }
  .about-section .about-content p {
    font-size: 16px;
    line-height: 26px;
    color: #555;
    margin: 0;
    text-align: justify;
    font-weight: 400; }
  .about-section .about-content ul {
    display: block;
    margin: 30px 0 0; }
    .about-section .about-content ul li {
      font-size: 16px;
      line-height: 26px;
      color: #555;
      margin-bottom: 15px;
      font-weight: 400;
      position: relative;
      padding-left: 32px; }
      .about-section .about-content ul li i {
        height: 25px;
        width: 25px;
        display: inline-block;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        color: #d70d25; }

.feature-section {
  background-color: #f5f5ff;
  padding: 80px 0 80px; }
  .feature-section .feature-item {
    box-shadow: 0 0 10px #dddde3;
    padding: 40px 30px;
    margin: 30px 0;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    transition: all .5s ease; }
    .feature-section .feature-item:hover {
      background-color: #d70d25;
      margin: 1px; }
      .feature-section .feature-item:hover i, .feature-section .feature-item:hover h3, .feature-section .feature-item:hover p {
        color: white; }
    .feature-section .feature-item h3 {
      font-size: 22px;
      font-weight: 600;
      color: #222222;
      margin: 0 0 15px;
      line-height: 30px;
      transition: all .5s ease; }
    .feature-section .feature-item p {
      font-size: 16px;
      line-height: 26px;
      color: #555;
      margin: 0;
      transition: all .5s ease; }
    .feature-section .feature-item .icon {
      margin-bottom: 25px; }
      .feature-section .feature-item .icon i {
        font-size: 40px;
        display: inline-block;
        transition: all .5s ease; }

.products-section {
  padding: 80px 0 80px;
  background-color: white; }
  .products-section .products-item {
    box-shadow: 0 0 10px #dddde3; }
    .products-section .products-item:hover .product-img .overlay {
      opacity: 1; }
      .products-section .products-item:hover .product-img .overlay .btn {
        transform: translateX(0px); }
  .products-section .product-img {
    border-bottom: 1px solid #eee;
    position: relative; }
    .products-section .product-img .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      z-index: 1;
      transition: all .5s ease; }
      .products-section .product-img .overlay .btn {
        margin: auto;
        transform: translateY(100px);
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .products-section .product-img img {
      width: 100%;
      display: block; }
  .products-section .product-content {
    padding: 0 30px;
    text-align: center; }
    .products-section .product-content .product-price {
      margin: 15px 0 5px; }
      .products-section .product-content .product-price .new-price {
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        margin: 0 5px;
        color: #d70d25; }
      .products-section .product-content .product-price .old-price {
        font-size: 18px;
        display: inline-block;
        color: #959595;
        font-weight: 400; }
    .products-section .product-content .product-name {
      font-size: 16px;
      font-weight: 600;
      color: #222;
      line-height: 26px;
      margin: 0;
      padding-bottom: 26px; }

.testimonial-section {
  background-image: url("../img/bg-01.jpg");
  padding: 80px 0 80px;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
  .testimonial-section::before {
    background-color: #d70d25;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .85; }
  .testimonial-section .section-title .subtitle {
    color: white; }
  .testimonial-section .section-title .title {
    color: white; }
    .testimonial-section .section-title .title::before {
      background-color: white; }
  .testimonial-section .testi-item {
    background-color: white;
    border-radius: 5px;
    padding: 30px; }
  .testimonial-section .testi-comment {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    font-style: italic;
    line-height: 26px;
    margin: 0 0 10px; }
    .testimonial-section .testi-comment p .fa-quote-left {
      margin-right: 5px; }
    .testimonial-section .testi-comment p .fa-quote-right {
      margin-left: 5px; }
    .testimonial-section .testi-comment .stars li {
      display: inline-block;
      margin: 0 1px; }
      .testimonial-section .testi-comment .stars li i {
        color: gold;
        font-size: 12px; }
  .testimonial-section .client-info {
    position: relative;
    padding-left: 80px; }
    .testimonial-section .client-info img {
      height: 60px;
      width: 60px;
      border: 2px solid transparent;
      border-color: #d70d25;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0; }
    .testimonial-section .client-info h5 {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
      line-height: 26px;
      color: #d70d25; }
    .testimonial-section .client-info p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: #555; }

/*# sourceMappingURL=style.css.map */
